<main id="main">

  <div class="container">
    <div class="row">

      <main id="flowerslist" class="col-12">

        <h2>Flowers</h2>
        <hr>

        {{> flowers }}

      </main>

    </div>
  </div>

</main>